/poll/migrations/
/account
poll/__pycache__/
anketon/settings.py
anketon/__pycache__/
poll/views/__pycache__/
poll/views/questions/__pycache__/
poll/views/votes/__pycache__/
test/__pycache__
.gitignore
.vscode